.reg {
    position:relative;
    background-color: #f5f8fd;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20vh;
    color: #000;
}

.rightTitle1 {
    position:absolute;
    font-size: 3.6vmin;
    font-weight: normal;    
    top:0.3vmin;
    margin-left:5.5vmin;
    color: white;
    z-index: 50;
}
  
.rectangle1 {
    position: absolute;
    top:17vh;
    height: 9.5vmin;
    width: 47vmin;
    margin-left:16vw;
    background-color: #78cc1f;
    box-shadow:rgba(0, 0, 0, 0.2) -0.5vmin 0.7vmin 0.6vmin 0px;
    z-index: 1;
}
  
.emptyRectangle1 {
    position:relative;
    height: 10vmin;
    width: 46vmin;
    margin-left:-1.5vw;
    margin-top:2.5vh;
    border:0.8vmin solid #fff;
    box-shadow:rgba(0, 0, 0, 0.05) -0.5vmin 0.7vmin 0.6vmin 0px;
    z-index: 1;
}

.buttonGroup{
    margin-left: 20vw;
    padding-top: 15vh;
}

.socialButton{
    height:7vmin;
    margin: 1.4vh 0;
    width:48vmin;
    border:0px;
    font-size:3vmin;
    color:#fff;
    box-shadow: rgba(0, 0, 0, 0.2) -0.5vmin 0.7vmin 0.6vmin 0px;
    white-space: nowrap;

}

.signup-but{
    height:5.5vmin;
    border:0px;
    font-size:2.7vmin;
    color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    
}

.signup-but:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cancel{
    width:7.5vw;
    background-color: #000;
}

.sign-up{
    width:10.3vw;
    background-color:#78cc1f;
}

.socialButton:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

  /* Input form */

.reg-form {
    position: absolute;
    top:15;
    padding: 1vw;
    width:25vw;
    margin-left:58vw;
    height: 45vh;
    padding-top: -10vh;
    background-color: #fff;
    border: 2px solid #78cc1f;
    color: #000;
}

.reg-form h4 {
    color: #78cc1f;
    text-align:center;
}

.reg-form p {
    text-align:center;
    font-size: 1.1vw;
    font-weight: 400;
}

.reg-input {
    width: 20vmax;
    margin-left:1vmax;
}

.input{
      border-radius: 0;
}

.btn {
    background-color: #78cc1f;
    color:white;
    right: 0;
}

.btn:hover, .btn:active, .btn:focus {
    color: #fff;
}

a {
    bottom: 0;
}

.textspan{
    font-size: 1vw;
}

.space {
    padding-bottom: 7.6vh;
    padding-left: 3vw;
    width: 20.8vw;
}

.forgotlink {
    font-size: .875rem;
    float: right;
    color: #78cc1f;
}

.link:hover, .link:active {
    color: #78cc1f;
}